body{
    background-color: black;    
}

.border { 
    width: 1480px; 
    height: 720px;
    border: 20px solid transparent; 
    border-image: conic-gradient(#3779FF 0deg,#DB00FF 135deg, #00A3FF 315deg, #3779FF 360deg);
    border-image-slice: 1; 
    animation: border 4s;
}

@keyframes border{
    0% {border-image: conic-gradient(#A429FF 0deg, #00A3FF 135deg,  #DB00FF 315deg, #A429FF 360deg); 
        border-image-slice: 1;}
    50% {border-image: conic-gradient(#A429FF 0deg, #DB00FF 45deg, #00A3FF 225deg, #A429FF 360deg);
        border-image-slice: 1;}
    100% {border-image: conic-gradient(#3779FF 0deg,#DB00FF 135deg, #00A3FF 315deg, #3779FF 360deg);
         border-image-slice: 1;}
}

#navI{
    margin-left: 1140px;
    margin-top: 25px;
}

#navL{
    font-family: 'JetBrains Mono';
    font-size: 32px;
    font-weight: bold;
    position: relative;
    bottom: 80px;
    
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
    }

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
    }

    a:hover {
    color: white;
    background-color: transparent;
    text-decoration: none;
    animation: link 4s;
}

@keyframes link{
    0% {color: white;}
    25% {color:#00A3FF;}
    50% {color: #DB00FF;}
    75% {color: #00A3FF;}
    100% {color: white;}
}

a:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

ul{
    list-style-type: none;
    padding-right: 20px;
}

li{
    display: inline;
    height: 100px; 
    height: 100px; 
    margin-left: 50px;
}

img {
    width: 60px;
    height: 60px;
    align-items: center;
    margin-left: 60px;
}

img:hover{
    transform: scale(1.1);
    transition: 0.5s;}

.grid-container{
    display: grid;
    gap: 20px 75px;
    grid-template-columns: auto auto auto;
    padding-left: 90px;
    padding-right: 90px;
}

.grid-item-title{
    font-size: 30px;
    text-align: center;
    color: white;
    font-family: 'JetBrains Mono';
    font-weight: bold;}

.grid-item-holder{
    background-color: white;
    border: 5px solid transparent; 
    align-content: center;
    height: 150px;
    border-image: conic-gradient(#3779FF 0deg,#DB00FF 135deg, #00A3FF 315deg, #3779FF 360deg);
    border-image-slice: 1; 
    animation: grids 4s;
}

@keyframes grids{
    0% {border-image: conic-gradient(#A429FF 0deg, #00A3FF 135deg,  #DB00FF 315deg, #A429FF 360deg); 
        border-image-slice: 1;}
    50% {border-image: conic-gradient(#A429FF 0deg, #DB00FF 45deg, #00A3FF 225deg, #A429FF 360deg);
        border-image-slice: 1;}
    100% {border-image: conic-gradient(#3779FF 0deg,#DB00FF 135deg, #00A3FF 315deg, #3779FF 360deg);
         border-image-slice: 1;}
}